.datatable {
    height: 600px;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            text-transform: uppercase;
        }

        .link {
            color: green;
            font-size: smaller;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: ease-in-out 0.3s;

            &:hover {
                color: white;
                background-color: green;
                scale: 1.1;
                padding: 5px 8px;
                transition: ease-in-out 0.3s;
            }
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }   
    }

    .cellWithStatus {
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        
        &.active {
            background-color: rgb(0, 128, 0, 0.05);
            color: green;
        }

        &.pending {
            background-color: rgb(255, 217, 0, 0.05);
            color: goldenrod;
        }

        &.passive {
            background-color: rgb(255, 0, 0, 0.05);
            color: crimson;
        }
    }   

    .cellAction {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;

        .viewButton {
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: darkblue;
            background-color: rgba(0, 0, 139, .16);
            cursor: pointer;
        }

        .deleteButton {
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: crimson;
            background-color: rgba(220, 20, 60, .16);
            cursor: pointer;
        }
    }

}

