.datatable {
    height: 600px;
    padding: 20px;

    .link {
        text-decoration: none;
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }   
    }

    .cellWithStatus {
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        
        &.active {
            background-color: rgb(0, 128, 0, 0.05);
            color: green;
        }

        &.pending {
            background-color: rgb(255, 217, 0, 0.05);
            color: goldenrod;
        }

        &.passive {
            background-color: rgb(255, 0, 0, 0.05);
            color: crimson;
        }
    }   

    .cellAction {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;

        .viewButton {
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: darkblue;
            background-color: rgba(0, 0, 139, .16);
            cursor: pointer;
        }

        .deleteButton {
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: crimson;
            background-color: rgba(220, 20, 60, .16);
            cursor: pointer;
        }
    }

}

