.new {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;

        .top, .bottom {
            padding: 10px;
            margin: 20px;
            display: flex;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            
            h1 {
                color: #555;
                font-size: 20px;
            }

            .left {
                flex: 1;
                align-self: center;
                text-align: center;

                img {
                    width: 70%;
                    height: 70%px;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }

            .right {
                flex: 2;
                padding-right: 50px;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-between;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 5px;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid gray ;
                        }

                    }

                    button {
                        width: 150px;
                        padding: 10px;
                        margin: 10px 0;
                        color: white;
                        font-weight: 700;
                        border: none;
                        background-color: teal;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}