.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        position: relative;
        flex: 1;
        padding: 20px ;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

        .editButton {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 5px 10px;
          font-size: 12px;
          font-weight: 700;
          background-color: #7451f8;
          color: white;
          border-radius: 5px;
          cursor: pointer;
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }

            .detailItem {
              margin-bottom: 10px;
              font-size: 14px;

              .itemKey {
                font-weight: bold;
                color: gray;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      .right {
        flex: 2;
      }
    }

    
    .bottom {
      padding: 20px ;
      margin: 10px 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    
    .title {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }
  }

}