.widget {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex: 1;    
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
    border-radius: 10px;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        font-size: 14px;
        font-weight: bold;
        color: rgb(160, 160, 160);
    }

    .counter {
        font-size: 28px;
        font-weight: 300;
    }

    .link {
        font-size: 12px;
        border-bottom: 1px solid gray;
        cursor: pointer;
        width: max-content;
    }

    .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;

        &.positive {
            color: green;
        }

        &.negative {
            color: red;
        }

    }
    
    .icon {
        font-size: 18px;
        padding: 3px;
        margin-right: 5px;
        // background-color: rgba(220, 220, 220, 0.6);
        border-radius: 50%;
        align-self: flex-end;
    }
}